.alarm {
  z-index: 2;
  position: fixed;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  max-width: 36em;
  align-items: center;
  justify-content: center;
  padding: 0px 1em;
  opacity: 0.9;
}

.alarm-item {
  position: relative;
  width: 100%;
  height: 3ex;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 0.25em #000;
  padding: 0.5ex 0.5em;
  margin-top: 0.5ex;
}

@keyframes alarm-wait-animation {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}

.alarm-wait{
  z-index: 0;
  overflow: hidden;
  position: absolute;
  left: -46px;
  right: 0;
  top: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    -55deg,
    rgba(0, 0, 0, 0) 1px,
    rgba(255, 255, 255, 0.2) 2px,
    rgba(255, 255, 255, 0.2) 11px,
    rgba(0, 0, 0, 0) 12px,
    rgba(0, 0, 0, 0) 20px
	);
  animation-name: alarm-wait-animation;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
