.App {
  position: relative;
  text-align: center;
}

.on {
  background-color: #2ecc71;
}

.off {
  background-color: #f22613;
}

.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.state-bar {
  text-align: left;
  vertical-align: middle;
  background-color: #333;
}

.state-item {
  display: inline-block;
  font-size: 5vmin;
  margin: 2vmin 1vmin;
  vertical-align: middle;
}

.led {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  transition: background-color ease-in-out 0.3s
}

.mic-button {
  width: 50vmin;
  height: 50vmin;
  border-width: 0px;
  border-radius: 50%;
  font-size: 25vmin;
  transition: background-color ease-in-out 0.1s
}
